.root {
  position: relative;
  overflow: hidden;
}

/* PÃGINA DE CARRITO DE COMPRAS */
.shopping-cart-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
  gap: 3em;
  .products-container {
    width: 100%;
    h2 {
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 1em;
    }
  }
  .products {
    display: flex;
    flex-direction: column;

    article:first-child {
      border-top: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
    }

    article {
      display: flex;
      padding: 1em 0;
      justify-content: center;
      gap: 2em;
      border-bottom: 1px solid #dadada;

      & > div:last-child {
        align-self: center;

        i {
          transition: 0.3s color ease-in-out;
          &:hover {
            cursor: pointer;
            color: rgb(209, 32, 32);
          }
        }
      }
    }

    .product-image {
      border: 1px solid #dadada;
      height: auto;
      height: 7em;
      width: 6em;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .product-details {
      display: flex;
      flex-direction: column;
      gap: 2em;
      font-size: 0.8em;

      & > div:first-child {
        display: flex;
        flex-direction: column;
        gap: 1em;
      }

      & > div:nth-child(2),
      & > div:last-child {
        align-self: center;
      }

      .product-details__quantity {
        display: flex;
        align-items: center;
        gap: 2em;
        & > div:first-child {
          display: flex;
          gap: 0.5em;
          & > * {
            width: 2em;
            height: 2em;
            border: none;
          }
          button {
            border-radius: 0.8em;
            background-color: #000;
            color: #fff;
            transition: 0.3s background-color ease-in-out;

            &:hover {
              cursor: pointer;
              background-color: #525252;
            }
          }
        }
        input {
          text-align: center;
        }
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
  .order-summary {
    width: 100%;
    h2 {
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 1em;
    }

    & > div:nth-child(2) {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      border-top: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
    }

    & > div:nth-child(3) {
      display: flex;
      justify-content: space-between;
      padding: 1em;
    }

    button {
      width: 100%;
      height: 3em;
      color: #fff;
      background-color: #000;
      border: none;
      transition: 0.3s background-color ease-in-out;
      &:hover {
        cursor: pointer;
        background-color: #525252;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .shopping-cart-container {
    .products-container {
      width: 35em;
    }
    .products {
      article {
        gap: 3em;
      }
      .product-details {
        flex-direction: row;
      }
    }
    .order-summary {
      width: 25em;
    }
  }
}
